@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.pagina-principal {
  background-image: url("../../img/corner.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.champions {
  background-image: url("../../img/fondo-champions.jpeg");
  background-repeat: repeat-y;
  background-size: contain; }

.qatar {
  background-image: url("../../img/fondo-qatar2022.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.libertadores {
  background-image: url("../../img/fondo-libertadores.jpeg");
  background-repeat: repeat-y;
  background-size: contain; }

header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5); }
  header h1 {
    justify-content: flex-start; }
    header h1 a .logo {
      width: 130px;
      padding: 15px; }

.navbar {
  flex-direction: row-reverse; }
  .navbar .navbar-toggler {
    background-color: white; }

.nav-item {
  font-weight: 600;
  font-size: 1em;
  background-color: black; }
  .nav-item .nav-link {
    color: white; }

.container-main {
  background-color: rgba(0, 0, 0, 0.5); }
  .container-main main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: "anterior partidos siguiente" "tabla tabla tabla" "goleadores goleadores goleadores"; }
    .container-main main section a {
      font-size: .7em; }
      .container-main main section a img {
        height: 30px; }
    .container-main main section table, .container-main main section .goleadores, .container-main main section .asistencias {
      display: table;
      width: 90%;
      background-color: #121212;
      grid-area: tabla; }
      .container-main main section table tr .cabecera, .container-main main section .goleadores tr .cabecera, .container-main main section .asistencias tr .cabecera, .container-main main section table tr .cabecera-goleador, .container-main main section .goleadores tr .cabecera-goleador, .container-main main section .asistencias tr .cabecera-goleador {
        font-weight: 500;
        font-size: 1em;
        text-align: center;
        color: white; }
      .container-main main section table tr td, .container-main main section .goleadores tr td, .container-main main section .asistencias tr td {
        border: 1px solid #4d4d4d;
        color: white;
        text-align: center;
        font-size: .9em;
        font-weight: 400; }
  .container-main .goleadores, .container-main .asistencias {
    text-align: center;
    font-size: .9em;
    font-weight: 700;
    padding-top: 25px; }
  .container-main .anterior {
    grid-area: anterior; }
  .container-main .partidos-fecha {
    padding: 15px 0;
    color: white;
    font-size: .9em;
    text-align: center;
    grid-area: partidos; }
    @media screen and (min-width: 768px) {
      .container-main .partidos-fecha {
        font-size: 1.5em; } }
  .container-main .partidos-fecha, .container-main a:link, .container-main a:visited, .container-main a:active {
    text-decoration: none;
    color: white; }
  .container-main .siguiente {
    grid-area: siguiente; }
  .container-main .goles {
    background-color: white;
    color: black; }
  .container-main #seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .container-main #seccion iframe {
        padding: 10px;
        width: 768px;
        height: 360px; } }
    .container-main #seccion .titulo {
      font-size: 1.1em;
      color: white;
      font-family: "montserrat";
      font-weight: 900;
      text-align: center;
      width: 100%;
      background-color: black;
      padding: 10px; }
      @media screen and (min-width: 768px) {
        .container-main #seccion .titulo {
          font-size: 1.5em;
          color: white;
          font-family: "montserrat";
          font-weight: 900;
          text-align: center; } }
    .container-main #seccion .delacruz-mobile {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .container-main #seccion .delacruz-mobile {
          display: none; } }
    .container-main #seccion .delacruz-desktop {
      display: none; }
      @media screen and (min-width: 768px) {
        .container-main #seccion .delacruz-desktop {
          display: block;
          width: 100%; } }
    .container-main #seccion p {
      font-size: 1em;
      color: white;
      font-family: "montserrat";
      font-weight: 400;
      text-align: left;
      padding: 10px;
      letter-spacing: .4px; }
      @media screen and (min-width: 768px) {
        .container-main #seccion p {
          font-size: 1.2;
          color: white;
          font-family: "montserrat";
          font-weight: 600;
          text-align: left; } }

aside {
  background-color: rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 768px) {
    aside {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      margin-top: 10px; } }
  aside hr {
    height: 4px;
    width: 50%;
    margin-left: 25%;
    background-color: white; }
    @media screen and (min-width: 768px) {
      aside hr {
        width: 100%; } }
  aside div {
    background-color: rgba(0, 0, 0, 0.498); }
    aside div h2 {
      font-size: 1.3em;
      color: white;
      font-family: "montserrat";
      font-weight: 700;
      text-align: center;
      padding: 10px; }
  aside .novedad-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      aside .novedad-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; } }
    aside .novedad-principal a img {
      width: 100%; }
    aside .novedad-principal p {
      font-size: 1em;
      color: white;
      font-family: "montserrat";
      font-weight: 500;
      text-align: left;
      letter-spacing: .8px;
      padding-top: 5px;
      margin-left: 10px; }
      @media screen and (min-width: 768px) {
        aside .novedad-principal p {
          width: 80%;
          text-align: center; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 5px 0 5px; }
  footer .container-contacto {
    justify-content: center; }

.logo {
  width: 130px;
  padding: 15px; }

fieldset label input {
  width: 100%; }

fieldset label span {
  overflow: hidden;
  color: white;
  font-size: 1.1em;
  font-weight: 400; }

@media screen and (min-width: 1024px) {
  .nav-item {
    background-color: #12121200; }
  .img {
    width: 100%; }
  .container-main {
    display: flex;
    width: 100%; }
    .container-main main {
      width: 70%; }
      .container-main main section table tr, .container-main main section .goleadores tr, .container-main main section .asistencias tr {
        height: 150px; }
  aside {
    width: 30%; }
    aside .container-aside {
      width: 90%; }
      aside .container-aside hr {
        margin-left: 0; }
      aside .container-aside .seccion-novedades {
        width: 100%; }
  .partidos-fecha {
    font-size: 1.5em; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 15px; }
    footer .contenedor-footer {
      margin: 15px; } }
