@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.pagina-principal {
  background-image: url("../../img/corner.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.champions {
  background-image: url("../../img/fondo-champions.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.qatar {
  background-image: url("../../img/fondo-qatar2022.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5); }
  header h1 {
    justify-content: flex-start; }
    header h1 a .logo {
      width: 130px;
      padding: 15px; }

.navbar {
  flex-direction: row-reverse; }
  .navbar .navbar-toggler {
    background-color: white; }

.nav-item {
  font-weight: 600;
  font-size: 1em;
  background-color: black; }
  .nav-item .nav-link {
    color: white; }

main section {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-template-areas: "anterior partidos siguiente" "tabla tabla tabla"; }
  main section a {
    font-size: .7em; }
    main section a img {
      height: 30px; }
  main section table {
    width: 90%;
    background-color: #121212;
    grid-area: tabla; }
    main section table tr .cabecera {
      font-weight: 500;
      font-size: 1em;
      text-align: center;
      color: white; }
    main section table tr td {
      border: 1px solid #4d4d4d;
      color: white;
      text-align: center;
      font-size: .9em;
      font-weight: 400; }

.anterior {
  grid-area: anterior; }

.partidos-fecha {
  color: white;
  font-size: .9em;
  justify-content: center;
  align-content: center;
  grid-area: partidos; }

.partidos-fecha, a:link, a:visited, a:active {
  text-decoration: none;
  color: white; }

.siguiente {
  grid-area: siguiente; }

.goles {
  background-color: white;
  color: black; }

aside {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px; }
  aside hr {
    height: 4px;
    width: 50%;
    margin-left: 25%;
    background-color: white; }
  aside div {
    background-color: rgba(0, 0, 0, 0.498); }
    aside div h2 {
      font-size: 1.3em;
      color: white;
      font-family: "montserrat";
      font-weight: 700;
      text-align: center;
      padding: 10px; }
  aside div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    aside div a img {
      width: 100%; }
    aside div p {
      font-size: 1em;
      color: white;
      font-family: "montserrat";
      font-weight: 500;
      text-align: left;
      letter-spacing: .8px;
      padding-top: 5px;
      margin-left: 10px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 5px 0 5px; }
  footer .container-contacto {
    justify-content: center; }

.logo {
  width: 130px;
  padding: 15px; }

fieldset label input {
  width: 100%; }

fieldset label span {
  overflow: hidden;
  color: white;
  font-size: 1.1em;
  font-weight: 400; }

@media screen and (min-width: 768px) {
  .novedad-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .img {
    width: 100%; }
  h3 {
    font-size: 1.3em;
    color: white;
    text-align: center; }
  .relleno {
    width: 80%;
    text-align: center; } }

@media screen and (min-width: 1024px) {
  .nav-item {
    background-color: #12121200; }
  .img {
    width: 100%; }
  .container-main {
    display: flex;
    width: 100%; }
    .container-main main {
      width: 70%; }
      .container-main main section table tr {
        height: 150px; }
  aside {
    width: 30%; }
    aside .container-aside {
      width: 90%; }
      aside .container-aside hr {
        margin-left: 0; }
      aside .container-aside .seccion-novedades {
        width: 100%; }
  .partidos-fecha {
    font-size: 1.5em; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 15px; }
    footer .contenedor-footer {
      margin: 15px; } }
