@mixin fondo-principal {
        background-image: url("../../img/corner.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
}

@mixin fondo-champions {
    background-image: url("../../img/fondo-champions.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin fondo-qatar {
    background-image: url("../../img/fondo-qatar2022.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin font ($font, $color, $family, $ancho, $alineacion){
    font-size: $font;
    color: $color;
    font-family: $family;
    font-weight: $ancho;
    text-align: $alineacion;
}

@mixin prop-flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}