aside{
    background-color: $background-color-principal;
    @include tablet{
        @include prop-flex(column, start, center);
        margin-top: 10px;
    }
    hr{
        height: 4px;
        width: 50%;
        margin-left: 25%;
        background-color: rgb(255, 255, 255);
        @include tablet{
            width: 100%;
        }
    }
    div{
        background-color: hsla(0, 0%, 0%, 0.498);
        h2{
            @include font (1.3em, white, 'montserrat', 700, center);
            padding: 10px;
        }
    }
    .novedad-principal{
        @include prop-flex(column,center,center);
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
        }
        a{
            img{
                width: 100%;
            }
        }
        p{
            @include font(1em, white, 'montserrat', 500, left);
            letter-spacing: .8px;
            padding-top: 5px;
            margin-left: 10px;
            @include tablet{
                width: 80%;
                text-align: center; 
            }
        }
    }
}