.container-main{
    background-color: $background-color-principal;
    main{
        .botones{
            @include prop-flex(row,space-between,center);
            flex-wrap: wrap;
            width: 90%;
            margin: 10px;

            .tabla{
                @include font (.6em, white, 'montserrat', 700, center);
                text-transform: uppercase;
                margin: 2px;
                background-color: rgb(0, 32, 108);
                padding: 1px;
                @include tablet{
                    @include font (1em, white, 'montserrat', 700, center);
                    padding: 5px;
                    border-radius: 10px;
                }
            }

            .reglas{
                @extend .tabla;
            }

            .campeones{
                @extend .tabla;
            }

            .ranking{
                @extend .tabla;
            }

            .tabla-lib{
                @include font (.6em, white, 'montserrat', 700, center);
                text-transform: uppercase;
                margin: 2px;
                background-color: rgb(139, 90, 0);
                padding: 1px;
                @include tablet{
                    @include font (1em, white, 'montserrat', 700, center);
                    padding: 5px;
                    border-radius: 10px;
                }
            }

            .reglas-lib{
                @extend .tabla-lib;
            }

            .ranking-lib{
                @extend .tabla-lib;
            }

            .campeones-lib{
                @extend .tabla-lib;
            }
        }


        section{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
            grid-template-areas: 
            "anterior partidos siguiente"
            "tabla tabla tabla"
            "goleadores goleadores goleadores"
            ;
            a{
                font-size: .7em;
                img{
                    height: 30px;
                }
            }
            table{
                display: table;
                width: 90%;
                background-color: #121212;
                grid-area: tabla;
                .cabeceras{
                    height: 10px;
                    padding: 15px;
                    @include tablet{
                        height: 50px;
                    }
                }
                .partidos{
                    @extend .cabeceras;
                    .goles{
                        @include tablet{
                            width: 25px;
                        }
                    }
                }
                tr{
                    .cabecera{
                        @include font (.6em, white, 'montserrat', 500, center);
                        @include tablet{
                            @include font (1em, white, 'montserrat', 700, center);
                        }
                    }
                    .cabecera-goleador{
                        @extend .cabecera;
                    }
                    td{
                            border: 1px solid rgb(77, 77, 77);
                            color: white;
                            text-align: center;
                            font-size: .9em;
                            font-weight: 400;
                    }
                }
            }
        }
    }


    .goleadores{
        @extend table;
        text-align: center;
        font-size: .9em;
        font-weight: 700;
        padding-top: 25px;
    }

    .asistencias{
        @extend .goleadores;
    }

    
    .anterior{
        grid-area: anterior;
    }

    .partidos-fecha{
        padding: 15px 0;
        color: white;
        font-size: .9em;
        text-align: center;
        grid-area: partidos;
        @include tablet{
            font-size: 1.5em;
        }
    }

    .partidos-fecha, a:link, a:visited, a:active{
        text-decoration: none;
        color: white;
    }

    .siguiente{
        grid-area: siguiente;
    }


    .goles{
        background-color: white;
        color: black;
    }


    #seccion{
        @include prop-flex(column,center,center);
        padding: 10px;
        overflow: hidden;
        iframe{
            @include tablet{
                padding: 10px;
                width: 768px;
                height: 360px;
            }
        }
        .titulo{
            @include font(1.1em, white, 'montserrat', 900, center);
            width: 100%;
            background-color: black;
            padding: 10px;
            @include tablet{
                @include font(1.5em, white, 'montserrat', 900, center);
            }
        }
        .delacruz-mobile{
            width: 100%;
            @include tablet{
                display: none;
            }
        }

        .delacruz-desktop{
            display: none;
            @include tablet{
                display: block;
                width: 100%;
            }
        }
        p{
            @include font(1em, white, 'montserrat', 400, left);
            padding: 10px;
            letter-spacing: .4px;
            @include tablet{
                @include font (1.2, white, 'montserrat', 600, left);
            }
        }
    }
}