@media screen and (min-width: 768px) {
    .novedad-principal {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .img {
      width: 100%; }
    h3 {
      font-size: 1.3em;
      color: white;
      text-align: center; }
    .relleno {
      width: 80%;
      text-align: center; } }